
<h1>Coins</h1>

<ol>
	<% prices = prices('USD') %>
	<% ApiHelper::CORE_COINS.each do |curr| %>
		<li>
			<div>
				<%= "#{curr[:name].capitalize} (#{curr[:symbol].upcase}) - #{sprintf '%.2f', prices[curr[:symbol]]}"  %>
				<ol>
					
					<% price_hist_by_hour(curr[:symbol])["Data"].each do |node| %>
						<li>
							<div>
								<%= get_date_from_unix_date(node["time"].to_s) %>
								<%= node["close"] %>
							</div>
						</li>
					<% end %>
				</ol>
			</div>
		</li> 

		
	<% end %>
</ol>