<!DOCTYPE html>
<html>
  <head>
    <title>CoinPlatform</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <%= javascript_include_tag 'application',
    'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
